@font-face {
    font-family: "TT Lakes";
    src: url("../assets/fonts/TTLakesCompressed-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../assets/fonts/TTLakes-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../assets/fonts/TTLakes-Medium.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    font-family: "TT Lakes", sans-serif;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header,
.header__burger-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__actions,
.header__burger-main {
    display: flex;
    gap: 16px;
}

.header__burger-main li:nth-child(2) {
    display: flex;
    align-items: center;
}

.header__burger-main li:nth-child(2)::before {
    content: url("../assets/images/header/divider.svg");
    padding-right: 16px;
}


.header__burger-container button:nth-child(2) {
    content: url("../assets/images/main/main_photo_320.jpg");
}

.header {
    padding: 19px 16px;
    border-bottom: 1px solid #D9FFF5;
}

.main {
    padding: 24px 16px;
}

.main__title {
    font-weight: 600;
    font-size: 28px;
}

.main__title:before {
    content: url("../assets/images/main/highlight.svg");
    position: absolute;
    left: 0;
}

.main__list {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main__service-item {
    padding: 8px 9px;
}

.main__service-link {
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
}

.main__service-active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.about {
    margin-top: 24px;
}

.main-about__show-more-btn::before {
    content: url("../assets/images/main/expand.svg");
    margin-right: 10px;
    display: inline-block;
    height: 25px;
}

.main-about__show-more-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
}

.main-about__image {
    width: 100%;
}

.main-about__paragraph--active,
.main-about__content-text {
    font-size: 14px;
}

.main__content-paragraph--hidden {
    padding-top: 15px;
}

.main-about__image {
    margin-top: 20px;
}

.header__actions_hidden li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-about__paragraph--disabled {
    margin-top: 20px;
}

.main__about-photo {
    margin-top: 20px;
    width: 100vw;
    height: auto;
    position: absolute;
    left: 0;
}

.header__list-item:hover,
.main__list-item:hover,
.main__service-item:hover {
    cursor: pointer;
}



.header__list-btn:nth-child(2):focus {
    border: none;
}


.header__list-btn:focus,
.main__list-btn:focus,
.main-about__show-more-btn:focus,
.main__service-link:focus {
    outline: none; /* убрать стандартный фокус-квадрат */
    box-shadow: 0 0 10px 3px #ff3e79;
}

.header__list-btn:not(.header__logo) {
    border-radius: 50%; /* делаем кнопку круглой */
    width: 40px; /* задаем ширину кнопки */
    height: 40px; /* задаем высоту кнопки */
    display: flex; /* задаем стиль блочного элемента для кнопки */
    justify-content: center; /* выравниваем по горизонтали содержимое кнопки */
    align-items: center; /* выравниваем по вертикали содержимое кнопки */
}

.header__logo {
    border-radius: 10px;
}


@media (min-width: 768px) {
    .main__list-btn {
        display: flex; /* задаем стиль блочного элемента для кнопки */
        justify-content: center; /* выравниваем по горизонтали содержимое кнопки */
        align-items: center; /* выравниваем по вертикали содержимое кнопки */
    }

    .header__actions li {
        display: block;
    }

    .main__actions-desktop li:nth-child(3){
        display: flex;
        align-items: center;
    }

    .header__list-item:nth-child(3){
        display: flex;
        align-items: center;
    }

    .header__list-item:nth-child(3)::after{
        content: url("../assets/images/header/divider.svg");
        padding-left: 16px;
    }

    .about {
        display: flex;
        gap: 30px;
    }

    .main__content-paragraph--hidden:nth-child(1) {
        display: inline;
    }

    .main-about__image {
        margin: 0;
    }

    .main__about-photo {
        margin: 0;
        border-radius: 10px;
        width: 100%;
        height: auto;
        position: static;
    }
}

@media (min-width: 1120px) {
    body {
        display: flex;
        justify-content: center;
    }

    .header {
        display: none;
    }

    .main__actions-desktop {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .main__title-container {
        display: flex;
        justify-content: space-between;
    }


    .main__list {
        flex-wrap: wrap;
    }

    .main__list-btn {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .main__actions-desktop li:nth-child(1) {
        margin-right: 20px;
    }

    .main__content-paragraph--hidden:nth-child(2) {
        display: inline;
    }
}